<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate List - Zero Hunger Support Hub</title>
    <link rel="stylesheet" href="compstyle/donatelist.css">
    <link rel="shortcut icon" href="/foodicon.png" type="image/png">
</head>
<body>
    <header class="donate-header">
        <nav class="nav-bar">
            <ul> 
                <li><a href="/index.html">Home</a></li>
                <li><a href="about.html">About </a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="donate.html">Donate & Volunteer</a></li>
                <li><a href="community.html">Community Gardens</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="stories.html">Stories</a></li>
            </ul>
        </nav>
        <h1>Donate List</h1>
    </header>

    <section class="donate-section">
        <div class="container">
            <h2>Make a Difference Today</h2>
            <p>Your support can help to achieve this goal of zero hunger. Discover the various ways you can get involved, whether through financial contributions or giving your time as a volunteer.</p>

            <div id="donate-grid"class="donate-grid">
                <!-- Donation Section -->                
            </div>
        </div>
    </section>

    <footer class="donate-footer">
        <p>&copy; 2024 Zero Hunger Support Hub</p>
    </footer>

    <script src="/components/compnentsjs/donatelist.js"></script>
</body>
</html>
