<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate List - Zero Hunger Support Hub</title>
    <link rel="stylesheet" href="/components/compstyle/donatelist.css">
    <link rel="shortcut icon" href="/foodicon.png" type="image/png">
</head>
<body>
    <header class="donate-header">
        <nav class="nav-bar">
            <ul>
                <li><a href="/Index.html">Home</a></li>
                <li><a href="/components/about.html">About </a></li>
                <li><a href="/components/resources.html">Resources</a></li>
                <li><a href="/components/donate.html">Donate & Volunteer</a></li>
                <li><a href="/components/community.html">Community Gardens</a></li>
                <li><a href="/components/recipes.html">Recipes</a></li>
                <li><a href="/components/stories.html">Stories</a></li>
            </ul>
        </nav>
        <h1>Donate List</h1>
    </header>

    <section class="donate-section">
        <div class="container">
            <h2>Make a Difference Today</h2>
            <p>Your support can help to achieve this goal of zero hunger. Discover the various ways you can get involved, whether through financial contributions or giving your time as a volunteer.</p>

            <div class="donate-volunteer-grid">
                <!-- Donation Section -->
                <div class="donate-card">
                    <!-- <img src="donate.jpg" alt="Donate"> -->
                    <div class="donate-content">
                        <h3>Donate to UN</h3>
                        <p>Contribute to the efforts by making a donation. Your generosity enables to provide essential resources and support to those in need.</p>
                        <a href="https://donate.wfp.org/1244/donation/single/?campaign=3812" target="_blank">Donate Now</a>
                    </div>
                </div>

                <!-- Donation Section -->
                <div class="donate-card">
                    <!-- <img src="donate.jpg" alt="Donate"> -->
                    <div class="donate-content">
                        <h3>Donate by gift </h3>
                        <p>Contribute to the efforts by making a donation. Your generosity enables to provide essential resources and support to those in need.</p>
                        <a href="https://www.actionagainsthunger.org/take-action/make-a-gift/" target="_blank">Donate Now</a>
                    </div>
                </div>

                <!-- Donation Section -->
                <div class="donate-card">
                    <!-- <img src="donate.jpg" alt="Donate"> -->
                    <div class="donate-content">
                        <h3>Donate</h3>
                        <p>Contribute to the efforts by making a donation. Your generosity enables to provide essential resources and support to those in need.</p>
                        <a href="https://donate.wfp.org/1244/donation/single/?campaign=3812" target="_blank">Donate Now</a>
                    </div>
                </div>

                <!-- Donation Section -->
                <div class="donate-card">
                    <!-- <img src="donate.jpg" alt="Donate"> -->
                    <div class="donate-content">
                        <h3>Donate</h3>
                        <p>Contribute to the efforts by making a donation. Your generosity enables to provide essential resources and support to those in need.</p>
                        <a href="https://donate.wfp.org/1244/donation/single/?campaign=3812" target="_blank">Donate Now</a>
                    </div>
                </div>

                <!-- Donation Section -->
                <div class="donate-card">
                    <!-- <img src="donate.jpg" alt="Donate"> -->
                    <div class="donate-content">
                        <h3>Donate</h3>
                        <p>Contribute to the efforts by making a donation. Your generosity enables to provide essential resources and support to those in need.</p>
                        <a href="https://donate.wfp.org/1244/donation/single/?campaign=3812" target="_blank">Donate Now</a>
                    </div>
                </div>

                
            </div>
        </div>
    </section>

    <footer class="donate-footer">
        <p>&copy; 2024 Zero Hunger Support Hub</p>
    </footer>
</body>
</html>
